#journal-container {
    width: 65%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.journal-item-link {
    text-decoration: none;
    color: black;
}

.journal-item {
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
}

.journal-item:hover {
    border: 1px solid rgb(206, 206, 206);
    padding: 20px;
}

.journal-item p{
    line-height: 1.5em;
    overflow: hidden;
}

#location-page-container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

#location-page-container h2 {
    margin-bottom: 25px;
}

#location-page-container pre {
    margin-bottom: 25px;
    width: 100%;
    white-space: normal;
}

#journal-form {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

#journal-form hr{
    margin-bottom: 25px;
}

#journal-form form input[type=text],
#journal-form form textarea{
    width: calc(100% - 5.5px);
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

#journal-form form #body{
    height: 200px;
    resize: vertical;
}